<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/images/weather.png"
    </head>
   
     <div class="main-content">
            {{>header}}             <!-- header.hbs to be bound here -->
            <p>{{msg}}</p>
     </div>


     {{>footer}}
    </body>
</html>