
body {
/*     color: #333333; */
    background: #2B292E;
    color: #fafafa;
    font-family: Arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;          /* flex box*/
    flex-direction: column; /* column: vertically arranging*/
    min-height: 100vh;      /* viewport height, 100 = full browser height*/
}

.main-content {
    flex-grow: 1;        /* 1 means it will take over all remaining space*/
}

.action-content {
    float: left;     
    padding-right: 4px;
}


footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {                  /* for <a> in header  */
    color: #888888;
    margin-right: 16px;
    text-decoration: none;  /* to remove href underline which is default  */

}

.portait {                  /*  element class (.)*/
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px sold #888888;
    background: #888888;
    padding: 8px;
    color: white
}